<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    {% if type == "muallif" %}

    <form method="POST" class="max-w-sm mx-auto space-y-4">
        {% csrf_token %}
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Muallif nomini kiriting</label
        >
        <input
          name="name"
          type="text"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Muallif yoshini kiriting</label
        >
        <input
          name="age"
          type="number"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <!-- <div>
        <label for="visitors" class="block mb-2.5 text-sm font-medium text-heading">Muallif jinsini kiriting</label>
        <input name="jins" type="text" id="visitors" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body" required />
    </div> -->
      <select name="jins" id="">
        <option value="Erkak">Erkak</option>
        <option value="Ayol">Ayol</option>
      </select>
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Muallif miqdorini kiriting</label
        >
        <input
          name="quant"
          type="number"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Muallif tricmi
        </label>
        <input
          name="tric"
          type="checkbox"
          id="visitors"
          required
        />
      </div>
      <button class="cursor-pointer border px-2 py-1">Save</button>
    </form>

    {% endif %}

    {% if type == "kitob" %}

    <form method="POST" class="max-w-sm mx-auto space-y-4">
        {% csrf_token %}
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >kitob nomini kiriting</label
        >
        <input
          name="name"
          type="text"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Kitob janr kiriting</label
        >
        <input
          name="janr"
          type="text"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <div>
        <label for="visitors" class="block mb-2.5 text-sm font-medium text-heading">Kitob sahifasini kiriting</label>
        <input name="sahifa" type="text" id="visitors" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body" required />
    </div>
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Muallif ni tanlang
        </label>
       <select name="muallif" id="">
        {% for m in muallif %}
        <option value="{{m.name}}">{{m.name}}</option>
        {% endfor %}
    </select>
      </div>
      <button class="cursor-pointer border px-2 py-1">Save</button>
    </form>

    {% endif %}

    {% if type == "talaba" %}

    <form method="POST" class="max-w-sm mx-auto space-y-4">
        {% csrf_token %}
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >talaba nomini kiriting</label
        >
        <input
          name="name"
          type="text"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >talaba guruhini kiriting</label
        >
        <input
          name="guruh"
          type="text"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <div>
        <label for="visitors" class="block mb-2.5 text-sm font-medium text-heading">talaba kursini kiriting</label>
        <input name="kurs" type="text" id="visitors" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body" required />
    </div>
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >kitoblar miqdorini kiriting
        </label>
        <input type="number" name="quantity" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body" required placeholder="miqdorini kiriting">
      </div>
      <button class="cursor-pointer border px-2 py-1">Save</button>
    </form>

    {% endif %}


    {% if type == "record" %}

    <form method="POST" class="max-w-sm mx-auto space-y-4">
        {% csrf_token %}
      <select name="talaba" id="talaba">
        {% for t in talaba %}
         <option value="{{t.id}}">{{t}}</option>
         {% endfor %}
      </select>
      <select name="kitob" id="">
        {% for k in kitob %}
         <option value="{{k.id}}">{{k}}</option>
         {% endfor %}
      </select>
      <select name="admin" id="">
        {% for a in admin %}
         <option value="{{a.id}}">{{a}}</option>
         {% endfor %}
      </select>
         <input type="date" placeholder="olingan sanani kiriting" name="olingan_sana">
         <input type="date" placeholder="qaytarilgan sanani kiriting" name="qaytarish_sana">
      <button class="cursor-pointer border px-2 py-1">Save</button>
    </form>

    {% endif %}

    {% if type == "kutubxonachi" %}

    <form method="POST" class="max-w-sm mx-auto space-y-4">
        {% csrf_token %}
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Kutubxonachi nomini kiriting</label
        >
        <input
          name="name"
          type="text"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Kutubxonachi boshlash vahtini kiriting</label
        >
        <input
          name="start"
          type="datetime"
          id="visitors"
          placeholder="12:34:56"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Kutubxonachi tugash vahtini kiriting</label
        >
        <input
          name="end"
          type="datetime"
          placeholder="12:34:56"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <button class="cursor-pointer border px-2 py-1">Save</button>
    </form>

    {% endif %}

    {% if type == "ustoz" %}

    <form method="POST" class="max-w-sm mx-auto space-y-4">
        {% csrf_token %}
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Ustoz nomini kiriting</label
        >
        <input
          name="name"
          type="text"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Ustoz yoshini kiriting</label
        >
        <input
          name="age"
          type="number"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <select name="jins" id="">
        <option value="Erkak">Erkak</option>
        <option value="Ayol">Ayol</option>
      </select>
      <select name="daraja" id="">
        <option value="Bakalavr">Bakalavr</option>
        <option value="Magistr">Magistr</option>
      </select>
      <select name="fan" id="" required>
          {% for f in fan %}
            <option value="{{f.id}}">{{f.name}}</option>
          {% endfor %}
      </select>
      <button class="cursor-pointer border px-2 py-1">Save</button>
    </form>

    {% endif %}

    {% if type == "fan" %}

    <form method="POST" class="max-w-sm mx-auto space-y-4">
        {% csrf_token %}
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Fan nomini kiriting</label
        >
        <input
          name="name"
          type="text"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >asosiy fanmi ?</label
        >
        <input
          name="age"
          type="checkbox"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
        />
      </div>
      <select name="yonalish" id="">
          {% for y in yonalish %}
            <option value="{{y.id}}">{{y.name}}</option>
          {% endfor %}
      </select>
      <button class="cursor-pointer border px-2 py-1">Save</button>
    </form>

    {% endif %}

    {% if type == "yonalish" %}

    <form method="POST" class="max-w-sm mx-auto space-y-4">
        {% csrf_token %}
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >yonalish nomini kiriting</label
        >
        <input
          name="name"
          type="text"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
          required
        />
      </div>
      <div>
        <label
          for="visitors"
          class="block mb-2.5 text-sm font-medium text-heading"
          >yonalish activmi ?</label
        >
        <input
          name="activ"
          type="checkbox"
          id="visitors"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
        />
      </div>
      <!-- <select name="yonalish" id="">
        {% for y in yonalish %}
        <option value="{{y.id}}">{{y.name}}</option>
        {% endfor %}
      </select> -->
      <button class="cursor-pointer border px-2 py-1">Save</button>
    </form>

    {% endif %}
  </body>
</html>
