<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="name">name</label>
        <input type="text" placeholder="name" id="name" name="name">
        <br>
        <label for="age">age</label>
        <input type="text" placeholder="age" id="age" name="age">

        <label for="jins">jins</label>
        <input type="text" placeholder="jins" id="jins" name="jins">

        <label for="age">age</label>
        <input type="text" placeholder="age" id="age" name="age">

        <label for="deta">deta</label>
        <input type="text" placeholder="deta" id="deta" name="deta">

        <label for="tric">tric</label>
        <input type="text" placeholder="tric" id="deta" name="tric">

        <button>qoshish</button>
    </form>
</body>
</html>